Source: mactel-boot
Maintainer: Jason Heeris <jason.heeris@gmail.com>
Section: admin
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)

Package: mactel-boot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hfs-bless utility for Intel Macs
 Contains the hfs-bless for adding EFI capable bootloaders to the boot firmware
 of Intel Macs. This effectively tells the boot firmware where to look for
 bootable operating systems.
