#!/usr/bin/make -f
export DH_VERBOSE=1

# Inject dpkg-buildflags into upstream makefile without patching
export CC:=$(CC) $(shell dpkg-buildflags --get CFLAGS)

%:
	dh $@

override_dh_make:
	PRODUCTVERSION=Ubuntu dh_make

override_dh_auto_clean:
	@
